<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.username %> thank you for using PushPin!</h1>
    <p>
    You have successfully signed up for PushPin! 
    </p>
    <p>
    We hope you enjoy the app!
    </p>
  </body>
</html>
