<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <!-- A very simple welcome message. Thanks the user for signing up. --!>
    <h2><%= @user.username %>, thank you for using PushPin!</h2>
    <p>
    You have successfully signed up for PushPin! 
    </p>
    <p>
    We hope you enjoy the app!
    </p>
  </body>
</html>
